/* Fixes UI Bootstrap js limitation */
.nav, .pagination, .carousel, .panel-title a {
    cursor: pointer;
}
html, body, .container {
    /*background-color: #5933c4;*/
    height: 100%;
    width: 100%;
}
h1 {
    font-family: 'Exo 2', sans-serif;
    color: #FF6200;
    text-transform: uppercase;
    font-size: 50px;
    line-height: 100%;
}

header {
    /*height: 10%;*/
    min-height: 30px;
}

#mapHolder {
    width: 100%;
}
.graphBox {
    /*display: inline-block;*/
/*    margin-left:auto;
    margin-right: auto;*/
    border: 1px solid black;
}
/*.landMass {
    fill: none;
    stroke: black;
    stroke-width: 2;
    stroke-linecap: round;
}*/
.state {
    opacity: 0.9;
}
.state:hover {
    opacity: 1.0;
    stroke: #ffff89;
    stroke-width: 2;

}
.interState {
  fill: none;
  stroke: #fff;
  stroke-linejoin: round;
    /*stroke-width: 1;*/
    /*stroke-linecap: square;*/
}

/* Graphs */
#graphBlock {
    /*border: 1px solid black;*/
    vertical-align:top;
}
.graphTitle {
    font-size: 20px;
    fill: #FF6200;
    font-weight: 400;

}
.graphBar {
    fill: #333;
}


/*.stateLabel {
    fill: #111;
  fill-opacity: .5;
  font-size: 20px;
  font-weight: 300;
  text-anchor: middle;
}*/
