{% extends "base.html" %}
{% load staticfiles %}
{% block topOfHead %}
<link href="{% static 'StateData/css/GoogleFonts_Exo+2-800css.css' %}" rel="stylesheet" type="text/css">
{% endblock topOfHead %}

{% block title %}Renewables in Energy Production{% endblock title %}
{% block pageStyle %}{% static 'StateData/css/pageStyle.css' %}{% endblock pageStyle %}

{% block content %}

<script type="text/javascript" rel="javascript" src="{% static 'base/js/topojson.1.6.19.min.js' %}"></script>
<script type="text/javascript" rel="javascript" src="{% static 'base/js/d3.3.5.5.min.js' %}"></script>
<script type="text/javascript" rel="javascript" src="{% static 'StateData/js/map.js' %}"></script>
{% endblock content %}