'{% extends "base.html" %}
{% load staticfiles %}
{% block topOfHead %}
<link href='http://fonts.googleapis.com/css?family=Exo+2:800' rel='stylesheet' type='text/css'>
{% endblock topOfHead %}

{% block title %}Renewables in Energy Production{% endblock title %}
'{% block pageStyle %}{% static 'StateData/css/pageStyle.css' %}{% endblock pageStyle %}

{% block content %}
<div class="container">
    <header class="row">
        <h1 class="col-md-12">Renewable Energy Production</h1>
    </header>
        statemap

</div>
{% endblock content %}